[submodule "patches/src/userplugins/vc-message-logger-enhanced"]
	path = patches/src/userplugins/vc-message-logger-enhanced
	url = https://github.com/Syncxv/vc-message-logger-enhanced
[submodule "patches/src/userplugins/betterPinDMs"]
	path = patches/src/userplugins/betterPinDMs
	url = https://github.com/Syncxv/betterPinDMs
[submodule "patches/src/userplugins/vc-timezones"]
	path = patches/src/userplugins/vc-timezones
	url = https://github.com/Syncxv/vc-timezones
